front-end/frontApp
authentication-service/authApp
project/db-data
front-end/frontApp
broker-service/brokerApp
logger-service/loggerServiceApp
mail-service/mailerApp
front-end/frontApp.exe
listener-service/listenerApp
